<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Image Sharing</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div id = "signUpField">
	        <form th:action="@{/registerUser}" method="post">
	            <div><label> User Name : <input type="text" name="username"/> </label></div>
	            <div><label> Password: <input type="password" name="password"/> </label></div>
	           	<div><label> repeat Password: <input type="password" name="repeatPassword"/> </label></div>
	            <div><input type="submit" value="Sign Up"/></div>
	        </form>
	        <div th:if="${session.nameTaken}">
            This name has already been taken.</div>
            <div th:if="${session.passwordToShort}">
            The password is to short.</div>
            <div th:if="${session.passwordNoMatch}">
            The passwords dont match.</div>
        </div>
        </div>
    </body>
</html>